/*
#map {
  width: 800px;
  height: 500px;
}*/

h1, h2, h3, h4, h5, h6 {
  font-family: Trump;
  font-weight: lighter;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
}

.phone {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* App Header */

#appHeader {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

#appHeader h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  line-height: 3rem;
}

#appHeader span {
  color: #26ABE3;
}

/* Zoom Controls */

.leaflet-control-container > div:nth-child(1) {
  background-color: red;
}

/* Info Widget */

.leaflet-control-container > div:nth-child(2) {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: auto;
}

.leaflet-control-container > div:nth-child(2) .leaflet-control {
  margin: 0;
}

/* Leaflet Link */

.leaflet-control-container > div:nth-child(4) {
  display: none;
}



